.main {
    position: relative;
    padding: 20px;
    width: 100%;
}

.attendance {
    margin-top: 20px;
    text-transform: capitalize;
}

.attendance-list {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.attendance-list h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 35px;
}

.incomeAdd {
    width: 120px;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
    background: #4AD489;
    color: #fff;
    border: 1px solid #4AD489;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

.incomeAdd:hover {
    background: #01c057;
}

.incomeModal {
    position: relative;
    display: flex;
}

.table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

table thead tr {
    color: #fff;
    background: #34AF6D;
    text-align: left;
    font-weight: bold;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-of-type(odd) {
    background: #f3f3f3;
}

.table tbody tr.active {
    font-weight: bold;
    color: #4AD489;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #4AD489;
}

.incomeModel label {
    display: flex;
    font-size: 18px;
}

.incomeModel input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.incomeModel button {
    width: 100%;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}

.income_th {
    text-align: center;
}

.table button {
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #4AD489;
    margin-left: 5px;
    margin-right: 5px;
}

.table button:hover {
    background: #4AD489;
    color: #fff;
    transition: 0.5rem;
}

.incomeButton {
    display: flex;
}

.incomeButton .incomeDelete:hover {
    background-color: rgb(252, 63, 63);
    color: rgb(255, 255, 255);
}

.incomeUpdate {
    color: rgb(0, 0, 0);
}

.incomeDelete {
    color: red;
}



